body {
	padding-right: 0px!important;
}

body.modal-open {
	overflow: hidden;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.img-logo {
	max-width: 200px;
}

.rgba-gradient {
	background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
	background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
	background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
	background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
	background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

.modal-backdrop.show {
	display: none;
}

.jarallax {
	height: 100vh;
}

.m-lr-auto {
	margin-left: auto;
	margin-right: auto;
}

.card.bg-transparant {
	background-color: rgba(255,255,255,.3);
}

.side-nav,
.side-nav.wide {
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .1), 0 2px 1px 0 rgba(0, 0, 0, .12);
}

.side-nav.wide {
	width: 9rem;
}

.side-nav.wide .collapsible a {
	font-size: 1rem;
	text-align: center;
	padding-left: 0px;
}

.mdb-skin-custom .side-nav .collapsible li .collapsible-body a {
	font-size: .9rem;
}

.side-nav .collapsible .fab, .side-nav .collapsible .far, .side-nav .collapsible .fas {
	font-size: 1rem;
}
/*
.mdb-skin-custom .side-nav .sidenav-bg.mask-strong:after, .mdb-skin-custom .side-nav .sidenav-bg:after {
	background-color: transparent;
}
*/

.mdb-skin-custom .side-nav .collapsible li .collapsible-header,
.mdb-skin-custom .side-nav .collapsible li .collapsible-header.active {
	color: #FFF;
}

.mdb-skin-custom .side-nav .collapsible li ul.sub-menu .collapsible-header.active {
	background-color: rgba(95, 93, 93, .15);
}

.mdb-skin-custom .side-nav .collapsible li.menu-item-has-children.active .collapsible-body {
	display: block;
}

.mdb-skin-custom .side-nav .collapsible li .collapsible-body a:hover {
	color: #FFF;
}

.mdb-skin-custom .side-nav .collapsible li.menu-item {
	padding-top: 10px;
	border-radius: 0px;
}

.mdb-skin-custom .side-nav .collapsible li.menu-item.active {
	border-left: 5px solid #33b5e5;
}

.mdb-skin-custom .side-nav .collapsible li.menu-item:hover {
	border-left: 5px solid #33b5e5;
}

.mdb-skin-custom .side-nav .collapsible li.menu-item:hover .sv-slim-icon {
	border-color: #33b5e5;
}

.mdb-skin-custom .side-nav .collapsible li.menu-item.active:hover>a {
	margin-left: 0px;
}

.mdb-skin-custom .side-nav .collapsible li.menu-item:hover>a {
	margin-left: 15px;
}

.mdb-skin-custom .side-nav .collapsible li.menu-item.active a.active {
    color: #33b5e5!important;
    
}

.mdb-skin-custom .side-nav .collapsible li.menu-item>a:hover,
.mdb-skin-custom .side-nav .collapsible li>.collapsible-header:hover {
	background-color: transparent;
    color: #33b5e5!important;

}

.side-nav .collapsible a {
	height: auto;
}

.side-nav.wide .collapsible .sv-slim-icon {
    padding-left: 0;
    width: 74px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #9e9e9e;
    padding: 16.8px 0px;
    font-size: 2.4rem;
    display: block;
    border-radius: 53px;
}

.side-nav.wide .collapsible .active .sv-slim-icon {
	border-color: #33b5e5;
}

.side-nav.wide.slim .collapsible .sv-slim-icon {
	font-size: 1rem;
    padding: 6px 0px;
    text-align: center;
	max-height: 30px;
	height: auto;
	margin-left: 0;	
}

.side-nav.wide.slim .collapsible a {
	white-space: nowrap;
    overflow: hidden;
	height: 30px;
	padding-left: 18px;
}

.mdb-skin-custom .side-nav.slim .collapsible li.menu-item:hover>a {
	margin-left: 3px;
}

.mdb-skin-custom .side-nav.slim .collapsible li.menu-item {
	padding: 10px 0;
}

.nav-slim.fixed-sn .double-nav, .nav-slim.fixed-sn footer, .nav-slim.fixed-sn main {
	padding-left: 0;
	margin-left: 60px;
}

.header-content {
	margin-top: -63px;
	margin-left: 60px;
	width: calc(100% - 60px);
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
    display: flex;
    width: 100%;
}

.btn-sm.disabled {
	opacity: .65;
}

table.dashboard {
	width: 100%;
}

table.dashboard th,
table.dashboard td {
	text-align: left;
}

table.dashboard th:last-child,
table.dashboard td:last-child {
	text-align: right;
}

table.table thead th {
	text-transform: capitalize;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc_disabled:after, table.dataTable thead .sorting_desc_disabled:before {
	font-family: 'Font Awesome 5 Solid';
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after {
	content: "\f0d7";
	bottom: .5rem;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc_disabled:before {
	content: "\f0d8";
}

table#table-kasir td,
table#table-omset td {
	text-align: right;
}

table#table-kasir td:nth-child(1),
table#table-kasir td:nth-child(2),
table#table-omset td:nth-child(1) {
	text-align: left;
}


/*---------------------- Transaksi ----------------------*/
main.transaksi {
	position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% - 60px);

}

.transaksi .position-fixed.col-right {
	bottom: 0;
	height: 100%;
}

.transaksi .classic-tabs .nav.tabs-white li a.active {
	border-color: #33b5e5;
}

.transaksi .classic-tabs .nav li a {
	color: #9e9e9e;
}

.transaksi .classic-tabs .nav li a.active {
	color: #212529;
}

.transaksi .search-result {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	width: 100%;
	height: calc(100vh - 104px);
    overflow: auto;
}

.transaksi .tab-content {
	height: calc(100vh - 63px);
    overflow: auto;
    padding-top: 1rem;
}

.transaksi .dataTables_wrapper {
	width: calc(100% - 30px);
    margin-left: 15px;
}

.transaksi .dataTables_wrapper .btn {
	padding: .5rem 1rem;
    font-size: 10px;
}

.transaksi .dataTables_wrapper table td,
.transaksi .dataTables_wrapper table td {
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.transaksi .dataTables_wrapper table td:last-child {
	width: 210px;
}

.transaksi .card {
	position: relative;
}

.transaksi .card .box-button {
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,.8);
    padding: 10px;
    width: 100%;
    height: 100%;
    padding-top: 30%;
    display: none;
}

.transaksi .card:hover .box-button {
	display: block;
	cursor: pointer;
}

.transaksi .card.disable:hover .box-button {
	display: none;
	cursor: default;
}

.transaksi .card.disable:after {
	content: '';
    background-color: rgba(0,0,0,.8); 
    height: 100%;
    top: 0;
    position: absolute;
    width: 100%;
}

.transaksi .card .box-button .btn {
	padding: .84rem 0;
	width: 100%;
	margin: .375rem 0 15px;
	opacity: .8;
}

.transaksi .card .box-button .btn:hover {
	opacity: 1;
}

.transaksi .card.custom {
	border-radius: 0;
}

.transaksi .card.custom .card-body {
	padding: 0;
}

.transaksi .card.custom .card-body .image-menu {
	width: 100%;
	padding-bottom: 100%;
	background-size: cover;
	background-position: center;
}

.transaksi .card.custom .card-body span.stok {
	position: absolute;
    top: 8px;
    right: 0;
    padding: .2rem .8rem;
    background-color: #00C851;
    color: #FFF;
}

.transaksi .card.custom .card-body span.warning {
    background-color: #ffbb33;
}

.transaksi .card.custom .card-body span.empty {
    background-color: #ff4444;
}

.transaksi .col-3 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.transaksi .card-title {
	display: block;
}

.transaksi .row-jumlah {
	height: 100vh;
}

.transaksi .row-jenis {
	height: calc(100vh - 135px);
}

.transaksi .form-search {
	margin-left: -15px;
    margin-right: -15px;
    padding: 0px 15px;
}

.transaksi .form-search input {
	padding-right: 30px;
	margin-right: -22px;
	width: calc(100% - 30px);
	font-size: 1rem;
}
 
.transaksi .form-search.md-form input[type=text]:focus:not([readonly]) {
	box-shadow: 0 1px 0 0 #FFF;
    border-bottom: 1px solid #FFF;
}

.transaksi .form-search input[type=text]::-webkit-input-placeholder {
    color: #FFF!important
}

.transaksi .form-search input[type=text]:-ms-input-placeholder {
    color: #FFF!important
}

.transaksi .form-search input[type=text]::-ms-input-placeholder {
    color: #FFF!important
}

.transaksi .form-search input[type=text]::placeholder {
    color: #FFF!important
}

.transaksi .box-right .btn {
	box-shadow: none;
	border-radius: 10px;
	padding: .8rem 1.44rem;
}

#modaltransaksi .paytype .btn  {
	border-radius: 10px;
	padding: .4rem 1.14rem;
	width: 100px;
}

.transaksi .box-right .btn i,
#modaltransaksi .paytype .btn i {
	display: block;
	font-size: 1.8rem;
}

.transaksi .box-right .btn.ordertype i {
	margin-right: 10px;
	display: inline-block;
	font-size: 1.5rem;
}

#modaltransaksi .paytype .btn i {
	display: block;
	font-size: 1.5rem;
}

#modaltransaksi .paytype .btn.select {
	background-color: #33b5e5!important;
	color: #FFF!important;
}

.transaksi .box-right .btn.btn-plusminus i {
	font-size: .6rem;
}

.transaksi .box-right .btn.btn-remove i {
	font-size: 1.2rem;
}

.transaksi .box-right .box-bottom {
	width: 100%;
    bottom: 0;
    position: absolute;
}

.transaksi .box-right .box-bottom .btn {
	padding: .9rem 1.14rem;
	margin: .375rem .15rem;
	width: calc(100% - 10px);
	font-size: .9rem;
}


.transaksi .box-right .box-bottom .btn-bottom:first-child .btn:first-child {
	margin-left: 10px;
}
/*
.transaksi .box-right .box-bottom .btn:last-child {
	width: calc(100% - 20px);
	
}
*/

.transaksi .box-right .box-bottom .btn i {
	font-size: 1rem;
}

.transaksi #listitem {
	height: 35vh;
    max-height: 38vh;
    overflow: auto;
}
.transaksi #listitem table {
	width: 100%;
}

.transaksi #listitem table .diskon td {
	padding: 0px;
}

.transaksi #listitem table .itemdiskon td {
	padding-bottom: 0px;
}

.transaksi #listitem table td {
	font-size: 1.1rem;
	font-weight: 400;
	padding: 10px 0;
}

.transaksi #listitem table .diskon td,
.transaksi #listitem table .diskon td span {
	font-size: .9rem;
}

.transaksi #listitem table td span{
	font-size: .98rem;
}

.transaksi #listitem table td:first-child {
	/*width: right;*/
}

.transaksi #listitem table td:nth-child(3) {
	text-align: center;
}

.transaksi #listitem table td:last-child {
	text-align: right;
}

.modal-dialog.custom {
	max-width: 900px;
}